.home-page {
  padding: 20px;
}

.angles-title {
  font-size: 2.5em; /* Öka från 2em till 2.5em */
  margin-bottom: 10px;
  text-align: center;
  font-variant: small-caps;
}

.angles-title::first-letter {
  text-transform: uppercase;
}

.title-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0 20px;
}

.home-page ul {
  list-style: none;
  padding: 0;
}

.home-page li {
  margin-bottom: 20px;
}

.home-page h2 {
  font-size: 1.2em;
  margin: 0;
}

.home-page p {
  margin: 5px 0;
}

.footer {
  margin-top: 40px;
  text-align: center;
}

.footer hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.footer p {
  font-size: 0.9em;
  color: #666; /* Subtle gray */
}